<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Laravel Meetup: Introduction to queues</div>

                    <div class="content">
                        <div class="title m-b-md">
                            {{ this.message }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['parameter'],

        data: function() {
            return {
                message: 'input ontvangen'
            }
        },

        mounted() {
            console.log('Component mounted with parameter ' + this.parameter);
            Echo.channel('meetup.' + this.parameter)
                .listen('.ExampleDispatched', (data) => {
                    this.message = data.message;
                    console.log(data.message);
                });
        },

        watch: {
            message: function(newValue, oldValue) {
                console.log('wathcing message');
            }
        }
    }
</script>
